* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #31405b;
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.container::after  {
    content: "";
    display: table;
    clear: both;
}

.row::after  {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.title-medium {
    margin-top: 0;
    margin-bottom: 29px;
    font-size: 28px;
    color: #31405b;
    font-weight: 700;
}

.title-micro {
    margin: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #31405b;
}

.button {
    background-color: #0ac883;
    border: 2px solid #0ac883;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.5;
    box-shadow: 0px 8px 20px 0px rgba(24, 219, 148, 0.35);
    display: inline-block;
    border-radius: 50px; 
    font-size: 20px;
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
    line-height: 1;
    transition: background-color 0.2s ease-in;
    /* border: none; */
    cursor: pointer;
}

.button:hover {
    background-color: #06e492;
}
.button:active {
    background-color: #07a96e;
}

.button:focus {
    outline: none;
    border: 2px solid #07a96e;
    box-shadow: 0px 0px 10px 0 rgba(53, 146, 112, 0.3);
}
.button-form {
    padding-left: 30px;
    padding-right: 30px;
}

/* Header --------------------------------------------*/
.header {
    position: relative;
    background-color: #4b736d;
    width: 100%;
    height: 800px;
    padding-top: 45px;
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFF;
}

.logo {
    float: left;
    width: 270px;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #FFF;
}

.logo-link {
text-decoration: none;
color: #FFF;
}

.navigation {
    float: right;
    width: 870px;
    padding-top: 15px;
    font-size: 22px;
    color: #FFF;
    text-align: right;
}

.navigation-link {
    display: inline-block;
    margin-right: 50px;
    color: #FFF;
    text-decoration: none;
}

.navigation-link:hover {
    text-decoration: underline;
}

.navigation-link:last-child {
    margin-right: 0;
}

.header-content {
    width: 1170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 60px;
    font-weight: 700;
}

.header-subtitle {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;
}

.header-scroll {
    width: 200px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    text-align: center;
}

.header-scroll-text {
    font-size: 16px;
    margin-bottom: 12px;
    letter-spacing: 0.8px;
}

/* --Header inner content--- */
.header-inner {
    padding-top: 25px;
    padding-bottom: 25px;
    background-image: url("../img/header-inner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-inner {
    background-color: #f2f8f6 ;
}




/* Section content ----------------------------------*/
.section-content {
    padding-top: 120px;
    padding-bottom: 120px;
}

.content-row {
    margin-bottom: 120px;
}

.content-row:last-child {
    margin-bottom: 0;
}

.content-row::after {
    display: table;
    content: "";
    clear: both;
}

.content-description {
    width: 470px;
}

.content-img {
    width: 570px;
}

.content-title {
    font-size: 54px;
    color: #31405b;
    font-weight: 700;
    line-height: 1.2;
}
.content-title--contacts {
    margin-top: 0;
    margin-bottom: 25px;  
}
.content-text {
    margin-bottom: 40px;
}

.content-text p {
    color: #31405b;
    font-size: 20px;
    line-height: 1.6; 
}

.content-text a {
    color: #138ece;
}

/*---------------------- Section-content-inner */
.section-content-inner {
    padding-top: 70px;
    padding-bottom: 120px;
}
/* ------------------Contacts */
.contacts-address {
    float: left;
    width: 470px;
}
.contacts-form {
    float: right;
    width: 630px;
}

.contacts-list {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    padding-left: 70px;
    font-size: 20px;
    line-height: 1.6;
    list-style-type: none;
}

.contacts-list-item {
    position: relative;
    margin-bottom: 10px;
}

.contacts-list-item::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    top: 4px;
    left: -48px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.contacts-list-item-phone::before {
    background-image: url(../icons/phone-solid.svg);
}

.contacts-list-item-email::before {
    background-image: url(../icons/envelope-solid.svg);
}

.contacts-list-item-address::before {
    background-image: url(../icons/map-marker-alt-solid.svg);
}

.map-holper {
  box-shadow: 0px 10px 20px 0px rgba(211, 211, 211, 0.7);
}

.map-holper img {
    display: block;
}
/* Form------------------------------------ */

.form {
    background-color: #FFF;
    border-radius: 2px;
    padding: 40px;
    box-shadow: 0px 10px 20px 0px rgba(211, 211, 211, 0.7);
}
.formgroup {
    margin-bottom: 30px;
}

.input {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    border: 1px solid #c0c0c0;
    border-radius: 6px;
    font-size: 20px;
    color: #31405b;
    font-family: 'PT Sans', sans-serif;
}
.input::placeholder {
    color: rgb(49, 64, 91, 0.5);
}
.input:focus {
    outline: none;
    border: 2px solid #0ac883;
    box-shadow: 0px 0px 10px 0 rgba(53, 146, 112, 0.3);
}
/* 1-й способ реализации ------------------*/
/* .input-inline {
    width: calc(50% - 5px);
    margin-right: 10px;
    float: left;
}
.input-inline:last-child {
    margin-right: 0;
} */
/* 2 способ реализации------------------------- */
.form-col-50 {
    width: 50%;
    float: left;
}
.form-col-50:first-child{
    padding-right: 5px;
}
.form-col-50:last-child{
    padding-left: 5px;
}
.label-radio {
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
}
.custom-radio {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-top: -3px;
    vertical-align: middle;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 50%;   
    cursor: pointer;
}
.custom-radio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: translate();
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #2ab698;
    display: none;
}

.real-radio {
    width: 0;
    height: 0;
    position: absolute;
}

.real-radio:focus + .custom-radio {
    border: 2px solid #0ac883;
    box-shadow: 0px 0px 10px 0 rgba(53, 146, 112, 0.3);
}

.real-radio:checked + .custom-radio::before {
    display: block;
}

.label-checkbox {
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
}
.real-checkbox {
    width: 0;
    height: 0;
    position: absolute;
}
.real-checkbox:focus + .custom-checkbox {
    border: 2px solid #0ac883;
    box-shadow: 0px 0px 10px 0 rgba(53, 146, 112, 0.3);
}

.real-checkbox:checked + .custom-checkbox::before {
    display: block;
}
.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    /* margin-top: -3px; */
    /* vertical-align: middle; */
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;   
    cursor: pointer; 
}
.custom-checkbox::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: "";
    display: block;
    width: 15px;
    height: 12px;
    background-image: url(../icons/check-solid.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}
/* Туры и направления================ */
.section-content-tours {
    padding-top: 62px;
    padding-bottom: 120px;
}
.content-title--tours {
    margin: 0;
    text-align: center;
    margin-bottom: 73px;
}
.card-tour {
    display: block;
}
.card-tours--free {
    float: left;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.tour-link {
    padding: 20px 0 26px 30px;
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;   
    display: block;
    text-decoration: none;
}
.free-tours--link {
    background-color: #a6a6a6;
}
.card-tours--extreme {
    float: right;
}
.extreme-tours--link {
  background-color: #c1b19b;  
}
.cards-block-1::after {
    content: "";
    clear: both;
    display: table;
}
.cards row:first-child {
    margin-bottom: 30px;
}
.left-col-tours {
    float: left;
}
.adventures--link {
    background-color: #66b0be;
}
.hiking--link {
    background-color: #876f56;
}
.right-col-tours {
    float: right;
}
.jungle--link {
    padding: 26px 0 26px 30px;
    background-color: #27695e;
}

.left-col-tours .card-tour:first-child {
    margin-bottom: 30px;
}

.section-content-tours .row {
    margin-bottom: 30px;
}
.section-content-tours .row:last-child {
    margin-bottom: 0;
}

/* ARTICLE--------------------------------------------- */
.section-content-article {
    padding-top: 70px;
    padding-bottom: 120px;
}
.left-col-article {
    float: left;
    width: 270px;
    padding-top: 5px;
}
.wrapper-article-list li {
    list-style-type: none;
}
.wrapper-article-list ul {
    padding: 0;
    margin: 0;
}
.wrapper-article-list a {
    padding-top: 12px;
    padding-bottom: 17px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: rgb(19, 142, 206);
    line-height: 1.3;
    border-top: 1px solid #d6d9d8;
}
.wrapper-article-list li:last-child {
    border-bottom: 1px solid #d6d9d8;
}
.wrapper-article-list a:hover {
    color: #e04e4e;
    font-weight: 700;
}
.right-col-article {
    float: right;
    width: 770px;
}
.content-title--article {
    margin: 0;
    margin-bottom: 30px;
}
.wrapper-article-text p {
    margin: 0;
    margin-bottom: 15px;
    font-size: 20px;
    color: rgb(49, 64, 91);
    line-height: 1.6;
}
.wrapper-article-text p:first-of-type {
    margin-bottom: 30px;
}
.wrapper-article-text p:last-child {
    margin-bottom: 0;
}
.wrapper-article-text img {
    margin-bottom: 35px;
}

/*/////////////// ARTICLE--------------------------------------------- */
/* Footer------------------------------------ */
.footer {
    width: 100%;
    height: auto;
    padding-top: 82px;
    padding-bottom: 100px;
    background-color: #265847;
    color: #FFF;
}

.footer-left {
    float: left;
    width: 270px;
}

.footer-right {
    float: right;
    max-width: 870px;
}

.footer-right::after {
    content: "";
    clear: both;
    display: table;
}

.footer-logo {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    margin-bottom: 15px;
}

.footer-about {
    font-size: 16px;
    line-height: 1.625;
}

.footer-col {
    float: left;
    font-size: 18px;
    margin-right: 30px;
}

.footer-col:last-child {
    margin-right: 0;
}

.footer-col-info {
    width: 200px;
}

.footer-col-services {
    width: 240px;
}

.footer-col-contacts {
    width: 200px;
} 

.footer-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-col p {
    margin: 0;
}
.footer-col p:first-of-type {
    margin-bottom: 14px;
}
.footer-col .footer-title--email {
    margin-bottom: 14px;
}
.footer-list {
    margin: 0;
    padding: 0;
    font-size: 18px;
    list-style-type: none;
}

.footer-list-item {
    margin-bottom: 13px;
}

.footer-list-link {
color: #FFF;
text-decoration: none;
}

.footer-list-link:hover {
    text-decoration: underline;    
}
.cards-block-1::after {
    content: "";
    clear: both;
    display: table;
}
.cards-block-1 {
    margin-bottom: 30px;
}